:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  --text-light: #f0f0f0;
  --text-dark: #0f0f0f;
  --text-danger: #bb2124;

  --bg-light: var(--text-light);
  --bg-dark: var(--text-dark);
  --bg-danger: var(--text-danger);

  --primary-background-color: #1e1b4b;
  --primary-background-gradient: linear-gradient(
    150deg,
    #750000 0%,
    #0f0f0f 50%,
    #004590 100%
  );

  background: var(--primary-background-gradient);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  color: var(--text-light);
}
